@import '../global-style-variables.scss';

.header {
    width: 100%;
    background: $header-bg;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid darken($header-bg, 20%);
    text-align: left;
    max-height: $header-height;

    .header__logo {
        height: $header-height;
        display: inline-block;
        margin: 0 1em;
    }
}
