@import '../global-style-variables';

$btn-size:     2em;

%link {
    font-size: $body-font-size;
    font-family: $sans-serif;
    background-color: $header-bg;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: $border-radius;
    box-sizing: border-box;
    color: $body-color;
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
    transition-property: border;
    transition-duration: 200ms;
    margin: -1em 1em 2em 0;
    padding: 0 $btn-size / 2;
    text-align: center;
    user-select: none;
    width: auto;
    position: relative;
    top: -($btn-size / 3);
    text-decoration: none;

    &:focus,
    &:active,
    &:link,
    &:hover {
        outline: 0;
    }

    &::-moz-focus-inner {
        border: 0;
    }
}

%link--active {
    @extend %link;

    border-color: $primary;
}

.nav {
    height: $header-height;
    display: inline-block;

    .nav__btn {
        @extend %link;
        @extend %default-transition;

        &:hover {
            @extend %link--active;
        }

        &:active {
            @extend %link--active;
        }
    }

    .nav__btn--active {
        @extend %link--active;
        @extend %default-transition;
    }
}
