@import '../global-style-variables.scss';

.group {
    .group__header {
        font-size: 0.6em;
        text-transform: uppercase;
        background-color: $primary;
        cursor: pointer;
        border: 0;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 1em;
    }

    .group__items {
        background-color: $primary--light;
        display: block;
        padding: 1em;

        li {
            list-style-type: none;
        }

        &.hide {
            display: none;
        }

        &.show {
            display: block;
        }
    }
}
