@import '../global-style-variables';

.validated-block {
    display: block;
    padding: 1em;
    background-color: lighten($primary, 20%);

    .validated-block__input {
        height: 1em;
        border: 1px solid $primary;
        border-radius: $border-radius;
        padding: 0.1em;
        margin: 0.2em;
        width: auto;
    }
}

.direct-input {
    font-size: 0.6em;
}
