@import '../global-style-variables.scss';

.sidebar {
    // thanks to jPushMenu for this inspiration
    // https://github.com/takien/jPushMenu/blob/1e960b77fb3666434a580eb6980403b049f79355/css/jPushMenu.css
    @extend %default-transition;
    border: 0;
    background-color: $primary;
    padding: 1em 0 0;
    position: absolute;
    top: 0;
    width: $sidebar-width;
    height: $body-height;
    z-index: 1000;
    overflow-y: scroll;

    &.collapsed {
        left: -$sidebar-width;
    }

    &.expanded {
        left: 0;
    }
}
