@import '../../../global-style-variables';

.equation {
    display: block;
    padding: 1em;
    background-color: lighten($primary, 20%);

    .equation__input {
        height: 1em;
        border: 1px solid $primary;
        border-radius: $border-radius;
        padding: 0.1em;
        margin: 0.2em;
        width: auto;
    }
}
