@import '../../../global-style-variables.scss';

.group {
    .group__header {
        font-size: 0.6em;
        text-transform: uppercase;
        background-color: $primary;
        cursor: pointer;
        border: 1px solid $primary--dark;
        border-left: 0;
        border-right: 0;

        .icon {
            margin: 0 0.5em 0 0.25em;
        }

        .is-collapsed {
            -ms-transform: rotate(90deg); /* IE 9 */
            -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
            transform: rotate(90deg);
        }

        .is-expanded {
            -ms-transform: rotate(180deg); /* IE 9 */
            -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
            transform: rotate(180deg);
        }
    }

    .group__options {
        li {
            list-style-type: none;
        }

        &.hide {
            display: none;
        }

        &.show {
            display: block;
        }
    }
}
