/// 
/// Global style variables for Surf Plot JS
/// 


/// Fonts
$sans-serif:        "Source Sans Pro", Tahoma, Arial, Verdana, sans-serif;
$serif:             Times New Roman, Georgia, serif;
$body-font-size:    30px;


/// Colors
$primary:           #63A8BF;
$secondary:         #B891C4;


/// Global properties
$border-radius:     0px;



/// Layout
$header-height:     2em;