/// 
/// Global style variables for Surf Plot JS
/// 


/// Fonts
$sans-serif:        "Source Sans Pro", Tahoma, Arial, Verdana, sans-serif;
$serif:             Times New Roman, Georgia, serif;


/// Colors
$primary:           #63A8BF;
$secondary:         #B891C4;