/// 
/// Global style variables for Surf Plot JS
/// 

/// Fonts
$sans-serif:        "Source Sans Pro", Tahoma, Arial, Verdana, sans-serif;
$serif:             Times New Roman, Georgia, serif;
// TODO: Set up breakpoints so this isn't so small in very small view heights
$body-font-size:    3.5vh;

/// Colors
$primary:           #63a8bf;
$primary--dark:     darken($primary, 20%);
$primary--darkest:  darken($primary, 50%);
$primary--light:    lighten($primary, 20%);
$secondary:         #b891c4;
$body-bg:           rgb(240, 240, 240);
$header-bg:           darken($body-bg, 5%);
$body-color:        rgb(40, 40, 40);

/// Global properties
$border-radius:     0;

/// Layout
$header-height:     2 * $body-font-size;
$body-height:       100vh - $header-height;
$sidebar-width:     320px;

/// Transitions
%default-transition {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
