@import '../global-style-variables';

$btn-size:     2em;

.nav {
    height: $header-height;
    position: relative;
    bottom: $btn-size / 4;
    margin-bottom: -($btn-size / 4);
    display: inline-block;

    // thanks to https://github.com/tylerchilds/cutestrap/blob/master/src/sass/components/_buttons.scss
    .nav__btn {
        font-size: $body-font-size;
        background-color: $primary;
        border: none;
        border-radius: $border-radius;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        height: $btn-size;
        line-height: $btn-size;
        max-width: 100%;
        transition-property: background-color;
        transition-duration: 200ms;
        margin: 0 1em 0 0;
        padding: 0 $btn-size / 2;
        text-align: center;
        user-select: none;
        width: auto;

        &:hover {
            background-color: $secondary;
        }
    }

    [type=button],
    [type=submit],
    button {
        @extend .nav__btn;
    }
}
